.productList {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-bottom: 1rem;
    row-gap: 2.5rem;

    @media (min-width: 768px) {
        gap: 2rem;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 700px;

        @media (min-width: 768px) {
            height: auto;
        }

        .productImage {
            min-height: 600px;
            width: auto;

            @media (max-width: 600px) {
               min-height: 400px;
           }

            @media (min-width: 768px) {
                height: 500px;
                min-height: auto;
            }
        }

        .productContents {
            color: white;
            display: flex;
            flex: 1 1 50%;
            flex-direction: column;
            padding: 1rem 0.5rem;

            h2 {
                font-size: 1.125rem;
                font-weight: 600;
                line-height: 1.75rem;

                @media (min-width: 768px) {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }

            h3 {
                font-size: 1.125rem;
                font-weight: 600;
                line-height: 1.75rem;

                @media (min-width: 768px) {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }

            p {
                display: none;
                font-size: 0.875rem;
                line-height: 1.25rem;
                margin-bottom: 2rem;
                padding-bottom: 0.5rem;
                padding-top: 0.5rem;
                text-transform: capitalize;

                @media (min-width: 768px) {
                    display: flex;
                }
            }

            button {
                margin-top: auto;
            }
        }
    }
}