// Button styles
.button {
    background-color: var(--indicator);
    border-radius: 0.25rem;
    color: white;
    font-size: 0.85rem;
    padding: 0.75rem 1.5rem;
  
    &:hover {
      background-color: #163837;
    }
  }
  
  [role=button], button {
    cursor: pointer;
  }
  
  [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  
  [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }

  .addButton {
    width: 100%;
  }