@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #49a09d;
  --background-end: #5f2c82;
}

body {
  color: rgb(var(--foreground-rgb));
  background: -webkit-linear-gradient(var(--background-start));
  background: var(--background-start);
}
