// Pages
@import "./cart/cart.module.scss";
@import "./[...not-found]/NotFound.module.scss";

// Components
@import "./button.scss";
@import "./components/Nav/Nav.module.scss";
@import "./components/ProductList/ProductList.module.scss";
@import "./components/Header/Header.module.scss";
@import "./components/Footer/Footer.module.scss";
@import "./components/ProductImage/ProductImage.module.scss";

// Default styles
:root {
  --background: #195e5c;
  --foreground-rgb: 0, 0, 0;
  --indicator: #132723;
}

body {
  background: -webkit-linear-gradient(var(--background));
  background: var(--background);
  color: rgb(var(--foreground-rgb));
  line-height: inherit;
  margin: 0;
}

menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle;
}

*, :after, :before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
}

.breakWord {
  overflow-wrap: anywhere;
}

main {
  display: flex;
  flex: 1;
}

.layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 0 2rem;
}

.suspense {
  color: white;
}