@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #49a09d;
  --background-end: #5f2c82;
}

body {
  color: rgb(var(--foreground-rgb));
  background: -webkit-linear-gradient(var(--background-start));
  background: var(--background-start);
}

.button {
  @apply bg-[#215a58] p-2 rounded w-28 hover:bg-[#163837];
}

.addButton {
  @apply w-full;
}

.breakWord {
  overflow-wrap: anywhere;
}